body{
    font-size: 1.2rem;
    min-height: 100vh;
    padding: 20px;
    background-color: hsla(46, 92%, 60%, 1);
    background-image: radial-gradient(circle at 74% 15%, hsla(173, 92%, 59%, 1) 13%, transparent 57%), radial-gradient(circle at 20% 4%, hsla(167, 60%, 76%, 1) 22%, transparent 56%), radial-gradient(circle at 57% 73%, hsla(157, 93%, 51%, 1) 3%, transparent 89%), radial-gradient(circle at 5% 90%, hsla(78, 71%, 68%, 1) 13%, transparent 65%), radial-gradient(circle at 96% 96%, hsla(264, 93%, 54%, 0.85) 5%, transparent 86%);
    background-blend-mode: normal, normal, normal, normal, normal;
}
.container>*{
    box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.74);
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
}
nav button{
    border: 0;
    border-radius: 25%;
    padding: 1%;
    background-color: hsla(46, 92%, 60%, 1);
    background-image: radial-gradient(circle at 96% 96%, hsla(264, 93%, 54%, 0.85) 5%, transparent 86%), radial-gradient(circle at 5% 90%, hsla(78, 71%, 68%, 1) 13%, transparent 65%), radial-gradient(circle at 57% 73%, hsla(157, 93%, 51%, 1) 3%, transparent 89%), radial-gradient(circle at 20% 4%, hsla(167, 60%, 76%, 1) 22%, transparent 56%), radial-gradient(circle at 74% 15%, hsla(173, 92%, 59%, 1) 13%, transparent 57%);
    background-blend-mode: normal, normal, normal, normal, normal;
}
.header{
    background-color: blueviolet;
    
}